python-telegram-bot==20.6
requests==2.31.0
telebot
pyfiglet
instaloader
whois
validators
qrcode
opennsfw2
pymongo
aiohttp
user_agent
colorama
telethon
asyncio
telegram
pytube
yt-search
beautifulsoup4
requests
google
telethon
gtts
sympy
deep-translator
youtube-search-python
telethon
asyncio
python-dotenv
python-telegram-bot==22.0
telegram
certifi==2025.1.31
chardet==5.1.0
idna==3.10
pyTelegramBotAPI==4.26.0
requests==2.31.0
urllib3==2.4.0
